<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
	<application>
		<activity
			android:name=".ReaderPassiveRasterParityActivity"
			android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
			android:exported="true"
			android:theme="@style/Theme.Navic" />
		<activity
			android:name=".PlayLikeCurlReferenceActivity"
			android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
			android:exported="true"
			android:theme="@style/Theme.Navic" />
		<receiver
			android:name="paige.navic.androidApp.ReaderPageQaFaultReceiver"
			android:exported="true"
			android:permission="android.permission.DUMP">
			<intent-filter>
				<action android:name="darkaxt.navic.readerdev.READER_QA_FAULT" />
			</intent-filter>
		</receiver>
	</application>
</manifest>
